@charset 'UTF-8';

html,
body {
    height: 100%;
}

body {
    // &.ltr {
    // }
    &.rtl {
        direction: rtl;
        [class*="col-"] {
            float: right;
        }
        .fa-angle-left, .fa-angle-right, .fa-sign-out {
            transform: rotate(180deg);
        }
        .signup-team__container .btn .fa:last-child {
            margin-right: 8px;
            margin-left: unset;
        }
        .scrollbar--view {
            margin-left: -8px!important;
            margin-right: unset!important;
        }
        .nav {
            padding-right: 0;
            padding-left: unset;
        }
        .search-bar__container {
            padding-right: 8px;
            padding-left: unset;
        }
        .input-clear {
            margin-right: unset;
            margin-left: 20px;
            right: unset;
            left: 0;
        }
        .pull-right {
            float: left!important;
        }
        .member-list__popover .more-modal__list .more-modal__details {
            padding-left: 0;
            padding-right: 16px;
        }
        .member-list__popover .more-modal__list .more-modal__row {
            padding: 0 23px 0 12px;
            border-left: unset;
            &:hover {
                padding: 0 20px 0 12px;
                border-right-style: solid;
                border-right-width: 3px;
            }
        }
    }
}

body {
    background: $bg--gray;
    position: relative;
    width: 100%;

    &.announcement-bar--fixed {
        padding-top: $announcement-bar-height;
    }

    &.sticky {
        .container-fluid {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
        }
    }
}

*:focus {
    outline: none;
}

.sticky {
    background: $white;

    > .channel-view {
        height: 100vh;
        padding: 0 15px;
        overflow: auto;
    }

    .inner-wrap {
        width: 100%;

        > .row {
            &.content {
                min-height: calc(100vh - 89px);

                @media (max-width: 768px) {
                    min-height: calc(100vh - 187px);
                }
            }
        }
    }
}

.help-page {
    overflow: hidden;
    padding: 3em 0;
}

.inner-wrap {
    height: 100%;

    &.sticky {
        overflow: auto;
    }

    > .row {
        &.main {
            height: 100%;
            position: relative;
        }
    }
}

.container-fluid {
    @include legacy-pie-clearfix;
    height: 100%;
    position: relative;
}

.channel-view {
    @include clearfix;
    height: 100%;
    position: relative;
}

.dropdown-menu {
    left: unset;
}

img {
    max-width: 100%;
}

.emoji-picker {
    direction: ltr;
}

body.rtl .post-list__table .dropdown-menu {
    right: inherit!important;
    left: 0!important;
    button {
        text-align: right;
    }
}